html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}


#test-box{
    background-color: red;
    width: 200px;
    height: 50px;
    border: 2px solid black;
}
