/* Inbyggda HTML-element*/
html {
    box-sizing: border-box;
}

body {
    font-size: 110%;
}

body, html{
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}



header{
    width: 100%;
    height: 70%;
    min-height: 70%;
    overflow: auto;

    
}

a, a:active, a:visited{
    text-decoration: none;
    color: #552700;
}

/* Section classes */

.header-content{

    margin-bottom: 10px;
}

.body-container{
   margin: 0 5%;
}


/* General classes */

.picture-text{
    color: black;
    text-shadow:  3px 3px 8px #FFD1AA, -3px -3px 8px #FFD1AA;
    font-size: 1.2em;
}


.main-content-menu{
    position: absolute;
}

.menu{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-decoration: inherit;
    align-items: center;
}




.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-primary-0 { color: #AA6C39 }	/* Main Primary color */
.color-primary-1 { color: #FFD1AA }
.color-primary-2 { color: #D49A6A }
.color-primary-3 { color: #804515 }
.color-primary-4 { color: #552700 }

.color-background-0{ background-color: #AA6C39 }
.color-background-1{ background-color: #FFD1AA }
.color-background-2{ background-color: #D49A6A }
.color-background-3{ background-color: #804515 }
.color-background-4{ background-color: #FFFFFF }



.font-primary-0 { font-family: 'Montserrat', sans-serif}
.font-primary-1 { font-family: 'Lobster', sans-serif}





/* Specific elements*/
#main-title{
    font-size: 1.3em;
    text-align: center;
    font-family: 'Lobster', sans-serif;

    /*text-shadow: 0 0 8px #804515;*/
    
    
    
}

#food-plate-picture{
    position: relative;
    width: 100%;
    height: 70%;
    min-height: 70%;
    background: url(img/restaurant.jpg) center;
    background-size: cover;


}

#plate-picture-text-container{
    width: 100%;
    /*min-height: 30%;*/
    
    text-align: center;
}



#content{
    height: 100%;
}




/*

Deprecated

.title-container-vertical {
    margin: 0 10%;
    padding: 10% 0;
    
    display: flex;
    justify-content: center;
    
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75),
            -4px -4px 10px 0px rgba(50, 50, 50, 0.75);

}

.title-container-horizontal {
    margin: 10% 0;
    padding: 5% 0;
    
    display: flex;
    justify-content: center;
    
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75),
            -4px -4px 10px 0px rgba(50, 50, 50, 0.75);
}

.title-container-neutral {
    margin: 0 0;
    padding: 5% 0;
    
    display: flex;
    justify-content: center;
    
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75),
            -4px -4px 10px 0px rgba(50, 50, 50, 0.75);
}
*/






