@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
    font-family: sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}




header, main{
    margin: 0 10%;
}

header{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.codebox{
    border-radius: 20px;
    box-shadow: 2px 2px 20px black;
    padding: 30px;
}

#display{
    height: 300px;
    border: 1px solid black;
}

form{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
}

#add{
    width:20px;
    height:20px;
    padding:0;
    background-color: limegreen;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    
    border: 0;
    border-radius: 50%;
    
}

#add span{
    position:absolute;
    transform:translate(-50%,-50%);
}

