/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}


#main-container{
    
}

nav{
    margin: 30% auto;
    width:140px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bar{
    width:100%;
    padding: 8px;
    background-color: gray;
    border-radius: 5px;

}

