

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

html, body{
    height:100%;
}

body{
    font-family: monospace;
}

main{
    font-size: 1.4em;
    height: 100%;

}

header{
    width: 100%;
    padding: 20px 0;
    background: orange;
    text-align: center;
    font-size: 1.5em;
    display: none;
}

footer{
    position: absolute;
    bottom: 0px;
}



nav{ 
    background: gray;
    text-align: center;
    
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}

nav .content{
    display: none;
}



.nav-item{
    width: 100px;
    color: black;
    padding: 0.8em 0;

}


.nav-item:hover{
    background: rgba(50,50,50,0.9);
    color: white;
}


@media (max-width: 420px){
    
    body{
        min-width: 200px;
    }
    
    header{
        display:inherit;
    }
    
    nav{ 
        flex-direction: column;
        justify-content: center;
    }

    .nav-item{
        width: 100%;
        color: black;
        flex-grow: 1;
        align-items: stretch;
        padding: 0.8em;
    }
    
}

@media (min-width: 421px) and (max-width: 800px){
    
   
    nav{ 
        flex-direction: row;
        justify-content: center;
       
    }

    .nav-item{
        color: black;
        flex-grow: 1;
        align-items: stretch;
        padding: 0.8em;
    }
    
}







