html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EBF7D4;
    color: #340913;
    font-family: 'Alfa Slab One', cursive;
    
}



#content{
    margin:auto;
    margin-top: 180px;
    padding-bottom: 30px;
    
    width: 45%;
    
    min-width: 450px;
    min-height: 300px;
    
    background-color: #98CA32;
    border-radius: 0 0 0 50px;
}

#top-nav{
    display: block;
    font-family: sans-serif;
}

.link-box{
    display: block;
    float: left;
    width: 25%;
    background-color: #D61A46;
    text-decoration: none;
    
    font-weight: bold;
    color: black;
    padding:14px;
    text-align: center;
    

}

.link-box:hover{
    background-color: #B8143A;
    color: white;
    cursor: crosshair;
}

#text-content{
    padding: 30px;
    padding-top: 80px;
    line-height: 1.8em;

}

#text-content h3{
    font-size: 2.3em;
    margin-bottom: 10px;
}

#text-content p{
    font-size: 1.1em;
}